.copyright{
	background: url(../images/POLIND.png) 0 0 no-repeat;
	background-position:center;
	text-align: center;
}
.copyright__text::before{

}
.copyright__text{
	padding-top:250px;
	padding-bottom:220px;
	font-size:24px;
	background: url(../images/logo.png) 50% 40% no-repeat;


		@media(min-resolution:1.5dppx){
		.page{
			background: url(../images/logo@2x.png) 50% 40% no-repeat;
		}

	}
}